{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-2",
    "flow"
  ],
  "plugins": [
    "lodash",
    "transform-runtime",
    [
      "component",
      [{"libraryName": "element-ui", "styleLibraryName": "theme-default"}]
    ]
  ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}